
/*----------------------------------- HEADER--------------------------------- */

.longer-header {
  width: 100%;
  background-color: black;
  color: white;
}

header,
.jumbotron div:first-child {
  width: 70%;
  height: 100px;
  margin: 0 auto;
}

nav {
  height: 50px;
  @include flex-row;
  justify-content: flex-end;
  line-height: 40px;
}

nav ul li {
  display: inline;
  padding: 0px 10px;
}

nav i {
  color: $scottish-blue;
}

nav span {
  color: $seashell-grey;
}

nav select {
  width: 80px;
}


header div:first-of-type img {
  width: 100%;
  height: 70%;
}

header section {
  height: 50px;
  @include flex-row;
}

header section ul {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  @include flex-row;
  justify-content: space-around;
}

header section li {
  display: inline;
  height: 40px;
  line-height: 40px;
}

header section .fa-angle-down {
  font-size: 15px;
}

header section h4 {
  font-weight: normal;
}

/* ----------------------------JUMBOTRON------------------------------------- */

// JUMBOTRON'S FIRST DIV HAS WIDTH 70% - SEE LINE 11 of CSS

.jumbotron {
  width: 100%;
  min-height: 550px;
  background: url('img/bg-painter-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron > div {
  @include flex-column;
}

.jumbotron img {
  margin-top: 50px;
  width: 25%;
}

.jumbotron div {
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
}

.jumbotron div h3:first-of-type {
  margin-top: 40px;
  max-width: 460px;
  word-wrap: break-word;
  word-break: break-all;
}

.jumbotron div h3:last-of-type {
  margin-top: 30px;
}

.jumbotron div > div {
  margin-top: 5px;
  @include fontRoboto;
}

.jumbotron div h3:last-of-type,
.jumbotron div > div {
  color: $weird-fucsia;
}

.jumbotron div:nth-child(5) {
  line-height: 150px;
  font-weight: bold;
}

.jumbotron div:nth-child(5) span:first-of-type,
#six-image-container div:first-of-type div:nth-child(1) .contenuto span,
#six-image-container div:last-of-type div:nth-child(1) .contenuto span {
  padding: 15px 40px;
  background-color: black;
  color: white;
  border: 2px solid black;
  margin-right: 50px;
}

.jumbotron div:nth-child(5) span:last-of-type {
  padding: 15px 40px;
  color: black;
  border: 2px solid black;
}

/* -------------------------------MAIN--------------------------------------- */

main {
  width: 100%;
  min-height: 600px;
  background-color: $soul-less-grey;
}

main h2 {
  text-align: center;
  height: 100px;
  line-height: 100px;
  @include fontRoboto;
  font-size: 35px;
}

.three-image-container {
  width: 70%;
  margin: 0 auto;
  height: 400px;
  @include flex-row;
  justify-content: space-between;
}

// ------------------FIRST SQUARE--------------------

.three-image-container div {
  width: calc((100% / 3) - 20px);
  height: 100%;
  background-color: white;
  text-align: justify;
  text-justify: inter-word;
  @include fontRoboto;
}

.three-image-container div img {
  width: 100%;
  height: 50%;
}

.three-image-container div:nth-child(1) p:first-of-type,
.three-image-container div:nth-child(1) p:nth-child(3),
.three-image-container div:nth-child(1) a:last-of-type {
  margin-left: 30px;
}

.three-image-container div:nth-child(1) p:first-of-type {
  padding: 20px 0px 20px 0px;
  font-weight: bolder;
}

.three-image-container div:nth-child(1) p:first-of-type span {
  color: $scottish-blue;
  font-weight: bolder;
  font-size: 20px;
  font-family: sans-serif
}

.three-image-container div:nth-child(1) p:last-of-type {
  max-width: 270px;
  word-wrap: break-word;
  word-break: break-all;
  padding-bottom: 20px;
}

.three-image-container div:nth-child(1) a {
  color: $scottish-blue;
  font-weight: bold;
}

// ------------------SECOND SQUARE--------------------

.three-image-container div:nth-child(2) p:first-of-type,
.three-image-container div:nth-child(2) p:nth-child(3),
.three-image-container div:nth-child(2) a:last-of-type {
  margin-left: 30px;
}

.three-image-container div:nth-child(2) p:first-of-type {
  padding: 20px 0px 20px 0px;
  font-weight: bolder;
}

.three-image-container div:nth-child(2) p:last-of-type {
  max-width: 310px;
  word-wrap: break-word;
  word-break: break-all;
  padding-bottom: 20px;
}

.three-image-container div:nth-child(2) a {
  color: $scottish-blue;
  font-weight: bold;
}

// ----------------- THIRD SQUARE--------------------

.three-image-container div:nth-child(3) p:first-of-type,
.three-image-container div:nth-child(3) p:nth-child(3),
.three-image-container div:nth-child(3) a:last-of-type {
  margin-left: 30px;
}

.three-image-container div:nth-child(3) p:first-of-type {
  padding: 20px 0px 20px 0px;
  font-weight: bolder;
}

.three-image-container div:nth-child(3) p:last-of-type {
  max-width: 290px;
  word-wrap: break-word;
  word-break: break-all;
  padding-bottom: 20px;
}

.three-image-container div:nth-child(3) a {
  color: $scottish-blue;
  font-weight: bold;
}

// --------------------SIX IMAGE CONTAINER (DRAGON EYE)-------------------------

#six-image-container {
  width: 70%;
  margin: 0 auto;
  height: 900px;
  padding-top: 70px;
  // debug
  margin-bottom: 50px;
}

#six-image-container div {
  height: calc(100% / 3);
  width: 100%;
  @include flex-row;
  color: white;
}

// ------ FIRST LINE-----------

#six-image-container div:first-of-type div:nth-child(1) {
  width: 50%;
  height: 100%;
  background-color: $modern-purple;
  @include fontRoboto;
  @include flex-column;
}

.contenuto {
  width: 100%;
  height: 100%;
}

#six-image-container div:first-of-type div:nth-child(1) .contenuto,
#six-image-container div:last-of-type div:nth-child(1) .contenuto {
  width: 80%;
  margin: 0 auto;
}

#six-image-container div:first-of-type div:nth-child(1) .contenuto h4,
#six-image-container div:last-of-type div:nth-child(1) .contenuto h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px;
}

#six-image-container div:first-of-type div:nth-child(1) .contenuto p,
#six-image-container div:last-of-type div:nth-child(1) .contenuto p {
  font-size: 18px;
  margin-bottom: 30px;
}

#six-image-container div:first-of-type div:nth-child(1) .contenuto span,
#six-image-container div:last-of-type div:nth-child(1) .contenuto span {
  background-color: white;
  color: black;
  border: none;
}

#six-image-container div:first-of-type div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: url('img/wacom-painter.jpg');
  background-size: cover;
  @include flex-row;
  justify-content: center;
  align-items: center;
}

// SMARTPHONE IMAGE
#six-image-container div:first-of-type div:nth-child(2) img {
  height: 90%;
}

// ------ SECOND LINE-----------

#six-image-container div:nth-child(2) div:nth-child(1) {
  width: 50%;
  height: 100%;
  background: url('img/painter-master.jpg');
  background-size: 80%;
}

#six-image-container div:nth-child(2) div:nth-child(2) {
  width: 50%;
  height: 100%;
  background-color: $mud-grey;
}

// ------ THIRD LINE-----------

#six-image-container div:last-of-type div:nth-child(1) {
  width: 50%;
  height: 100%;
  background-color: $other-blue;
}

#six-image-container div:last-of-type div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: url('img/business-education.jpg');
  background-size: cover;
}

// -----------------------------------------------------------------------------
