
/*----------------------------------- HEADER--------------------------------- */

.longer-header {
  width: 100%;
  background-color: black;
  color: white;
}

header,
.jumbotron div:first-child {
  width: 70%;
  height: 100px;
  margin: 0 auto;
}

nav {
  height: 50px;
  @include flex-row;
  justify-content: flex-end;
  line-height: 40px;
}

nav ul li {
  display: inline;
  padding: 0px 10px;
}

nav i {
  color: $scottish-blue;
}

nav span {
  color: $seashell-grey;
}

nav select {
  width: 80px;
}


header div:first-of-type img {
  width: 100%;
  height: 70%;
}

header section {
  height: 50px;
  @include flex-row;
}

header section ul {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  @include flex-row;
  justify-content: space-around;
}

header section li {
  display: inline;
  height: 40px;
  line-height: 40px;
}

header section .fa-angle-down {
  font-size: 15px;
}

header section h4 {
  font-weight: normal;
}

/* ----------------------------JUMBOTRON------------------------------------- */

// JUMBOTRON'S FIRST DIV HAS WIDTH 70% - SEE LINE 11 of CSS

.jumbotron {
  width: 100%;
  min-height: 550px;
  background: url('img/bg-painter-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron > div {
  @include flex-column;
}

.jumbotron img {
  margin-top: 50px;
  width: 25%;
}

.jumbotron div {
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
}

.jumbotron div h3:first-of-type {
  margin-top: 40px;
  max-width: 460px;
  word-wrap: break-word;
  word-break: break-all;
}

.jumbotron div h3:last-of-type {
  margin-top: 30px;
}

.jumbotron div > div {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}

.jumbotron div h3:last-of-type,
.jumbotron div > div {
  color: $weird-fucsia;
}

.jumbotron div:nth-child(5) {
  line-height: 150px;
  font-weight: bold;
}

.jumbotron div:nth-child(5) span:first-of-type {
  padding: 15px 40px;
  background-color: black;
  color: white;
  border: 2px solid black;
  margin-right: 50px;
}

.jumbotron div:nth-child(5) span:last-of-type {
  padding: 15px 40px;
  color: black;
  border: 2px solid black;
}

/* -------------------------MAIN--------------------------------------------- */

main {
  width: 100%;
  min-height: 600px;
  background-color: $soul-less-grey;
}

// MAIN'S FIRST DIV HAS WIDTH 70% - SEE LINE 12 of CSS

main div:first-of-type {
  width: 70%;
  height: 150px;
  line-height: 150px;
  margin: 0 auto;
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

main div:first-of-type h2 {
  text-align: center;
}

.three-image-container {
  @include flex-row;
  justify-content: center;
  width: 70%;
  height: 90%;
  background-color: $aqua;
}
