
/*----------------------------------- HEADER--------------------------------- */

.longer-header {
  width: 100%;
  background-color: black;
}

header {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  color: white;
}

nav {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

nav i {
  color: royalblue;
}

nav span {
  color: grey
}

nav ul li {
  display: inline;
  padding: 0px 10px;
}

header div:first-of-type img {
  width: 100%;
  height: 70%;
}

header section {
  height: 50px;
  display: flex;
}

header section ul {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

header section li {
  display: inline;
}

header section .fa-angle-down {
  font-size: 15px;
}

header section h4 {
  font-weight: normal;
}

/* ----------------------------JUMBOTRON------------------------------------- */

.jumbotron {
  width: 100%;
  min-height: 500px;
  background-image: url('img/bg-painter-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------- */
